/sandbox/python_proj_hello/nbproject/private/
/sandbox-py2x/MadLibs1-python/nbproject/private/
/sandbox-py2x/Python-Template/nbproject/private/
/sandbox-py2x/fundamentals/Python-OutputTesting/nbproject/private/
/sandbox-py2x/fundamentals/Python-Program1/nbproject/private/
/sandbox-py2x/python36_project/nbproject/private/
/sandbox-py3x/python_proj_hello/nbproject/private/